@media(max-width:1300px){
  .header-title{
    position: static;
  }
  .header-suptitle:before
  .header-suptitle:after{
    content: none;
  }
  /* .header{

  } */
}

@media (max-width: 1023px){
   .slider-wrapper .slide-button{
     display: none!important;
   }
   .slider-wrapper .image-list{
     gap:100px;
     margin-bottom: 15px;
   }
   .slider-wrapper .image-list .image-item{
     width: 280px;
     height: 380px;
   }
   .slider-scrollbar .scrollbar-thumb{
     width: 20%;
   }
 }

 @media(max-width:1185px){
  .nav,
  .card{
    flex-direction: column;
  }
  .header-line{
    justify-content: space-between;
  }
 }